* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

.highlight {
  color: #f2f;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
}

form input {
  background: #111;
  color: white;
  border: 2px solid;
  border-image: linear-gradient(to right, #7f00ff, #e100ff) 1;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 20px;
}

button {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
  font-size: 1.2em;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  margin-top: 40px;
  font-size: 0.8em;
  color: #ccc;
}

.login-right {
  flex: 1;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') no-repeat center center/cover;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

/* Página de boas-vindas */
.welcome-body {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.welcome-box h1 {
  font-size: 4em;
  margin-bottom: 10px;
}

.welcome-box h2 {
  font-size: 2em;
  margin-bottom: 20px;
}